.top{
 font-family: "Dancing Script"; cursive;
 font-size: 30px;
 margin-top: 20px;
}


.hide{
  display: none;
  font-family: "Dancing Script"; cursive;
}

.place{
  display: inline-block;
  padding: 50px 150px;
}

body{
  text-align: center;
  background-image: url("./Assets/background.jpg");
  background-position: center;

}

img{
  width: 120px;
  height: 120px;
  border-radius: 100%;

}

h1:hover {
  cursor: pointer;
}
